.app-header-logo{
    float: left;
    height: 45px;
    margin-top: 10px;
}

.app-header-menu{
    float: left;
    height: 63px;
    border-bottom: none;
    margin-left: 50px !important;
}
.ant-menu-item-selected{
    height: 64px;
}